extends layout
block content
    
    .row.mt-5
        .col-sm-12
            h5 Admin Sign Up
        .col-sm-8
            p As a store Owner, you must first create an account with CovidStore
            
        .col-sm-4
            h5 Admin Signup
            form(action="/admin/signup" method="POST")
                .form-group
                    label Username:
                    input.form-control(name='username', type='text')
                .form-group
                    label Email:
                    input.form-control(name='email', type='email')
                .form-group
                    label Password:
                    input.form-control(name='password', type='password')
                input.btn.btn-primary(type='submit',value='Sign Up')
                
                a(href="/admin/login") I already have an account.