extends layout
block content
    .row
        .col-sm-12.mt-4
            h4 Latest in the store
            .card-deck
                .card
                    img(src="", alt="", srcset="")
                    .card-body
                        h5.card-title 
                            a(href="") Card Title
                        p.card-text This is a description

                .card
                    img(src="", alt="", srcset="")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description
                .card
                    img(src="", alt="", srcset="")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description
                .card
                    img(src="", alt="", srcset="")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description

        .col-sm-12.mt-4
            h4 Funiture
            .card-deck
                .card
                    img(src="", alt="", srcset="")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description

                .card
                    img(src="", alt="", srcset="")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description
                .card
                    img(src="", alt="", srcset="")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description
                .card
                    img(src="", alt="", srcset="")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description
